.row{
    padding-left: 10px;
    padding-bottom: 20px;
}
.movies-row{
    display: flex;
    overflow-x: scroll;
    padding-top: 20px;

}
.row{
    padding: 0;
    margin: 0;
    background-color: black;
}

::-webkit-scrollbar{
    display: none;
}
.movie{
    width: 200px;
    max-height: 350px;
    object-fit: cover;
    transition: transform 460ms;
}
.movie:hover{
    transform: scale(1.06);
}
.movie-poster{
    max-height: 350px;
}